* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}
.cnt-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
  display: flex;
  min-height: 0; 
}

.cnt-footer-play {
  height: 70px;
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

/* side nav-bar */

/* nav-bar posizionata a sinistra */
.cnt-side {
  padding-top: 9px;
  padding-left: 15px;
  width: 250px;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}

/* regole generali del layout verticale */
.cnt-lyt-y{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

/* logo della nav-bar */
.cnt-side img{
  width: 150px;
  margin-left: 25px;
  margin-top: 10px;
}

.icon-side{
  padding-left: 15px;
  cursor: pointer;
  color: rgb(122, 124, 130);
  width: 45px;
  height: 45px;
}

.cnt-links span{
  color: white;
}

/* PLAYLIST */
.cnt-playlist{
  display: flex;
  flex-direction: column;
}

.cnt-list-playlist{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cnt-playlist{
  margin-left: 20px;
  flex-grow: 1;
}

.cnt-bottom-nav{
  display: flex;
  flex-direction: column;
}

.cnt-user{
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.divider-grey{
  margin-top: 10px;
  border: 1px solid rgb(122, 124, 130);
  width: 80%;
}

#profile-name{
  color: white;
}
.cnt-create-playlist{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

#btn-create{
  border: none;
  padding: 1px 12px;
  font-size: 40px;
  cursor: pointer;
}

.cnt-playlist h4{
  color: white;
}

.cnt-playlist span{
  color: rgb(122, 124, 130);
  font-weight: 600;
}

.cnt-list-playlist span{
  padding: 10px 0px;
  font-size: 13px;
}

.cnt-playlist h4{
  color: white;
  margin: 10px 0px;
}

#icon-download::before{
  content: "\f358";
  font-family: "Font Awesome 6 Free";
  background-color: transparent;
  padding-right: 4px;
}

#icon-download{
  font-size: 12px;
}

#icon-profile{
  width: 25px;
  height: 25px;
  background-color: rgb(122, 124, 130);
  border-radius: 50px;
  color: white;
  margin-right: 10px;
  padding-top: 10px;
}

/* elementi di navigazione della side bar */

.first-icon{
  color: white;
}

#first-link{
  color: white;
}

.links-pad{
  display: flex;
  align-items: center;
}

.links-pad span{
  width: 100%;
  padding-left: 5px;
}

.links-pad a:hover{
  color: white;
}

.first-linkpad {
  color: white;
  border-left: 2px solid rgb(173, 255, 46)
}

.first-linkpad{
  color: white;
}

.links-pad:hover{
  color: white;
}

.links-pad a{
  color: rgb(103, 103, 103);
  text-decoration: none;
}

.links-pad:hover{
  color: white;
}

.links-pad:first-child{
  margin-top: 10px;
}

.cnt-links{
  padding-top: 15px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.cnt-links img{
  width: 25px;
}

/* fine side nav-bar */

/* contenuto scrollabile, card delle canzoni */
.cnt-main-right {
  flex: 1;
  background-color: rgb(20, 25, 34);
  overflow-y: scroll;
  min-height: 0; 
}

.cnt-call-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  background-color: rgba(9, 11, 18, 0.800);
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
}

/* bottone call-to-action */
.cnt-btn-act{
  display: flex;
  justify-content: flex-end;
}

.cnt-btn-act button{
  background-color: transparent;
  color: white;
  border: 1px solid;
  padding: 10px 35px;
  margin-right: 35px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.cnt-btn-act button:hover{
  transform: scale(1.1);
}

.cnt-section-button{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.cnt-section-button a{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.80px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(122, 124, 130);
}

.cnt-section-button a:hover{
  color: white;
}


#brd-btm{
  border-bottom: 1px solid rgb(173, 255, 46);
}

.title-sec-songs{
  color: white;
  padding: 5px 10px;
}

.title-mg{
  margin-top: 30px;
  margin-left: 10px;
}

.under-tit-songs{
  padding-left: 10px;
  color: gray;
  font-size: 12px;
}

.cnt-info-songs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cnt-info-songs h4{
  margin: 5px 5px;
  color: white;
}

.cnt-info-songs span{
  color: grey;
  font-size: 12px;
}
.cnt-all-songs{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.cnt-all-songs2{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cnt-all-songs,
.cnt-all-songs2{
  text-align: center;
} 

.cnt-all-songs .cnt-song:first-child,
.cnt-all-songs2 .cnt-song:first-child{
  padding-left: 20px;
}

.cnt-song img{
  width: 180px;
}

.cnt-song{
  cursor: pointer;
  height: fit-content;
}

.circle-img img{
  border-radius: 100px;
}